$color_white: #fdfdfd
$color_primary: #fa9f42
$color_secondary: #10b582
$color_dark: #353a5a

$font_family_main: 'Raleway', sans-serif
$font_size_main: 1.6rem
$font_size_small: 1.4rem

$container_width: 121rem
$container_padding: 2rem
    
$border_radius_xs: 1rem
$border_radius_md: 2rem

$button_min_height: 5.6rem
$button_min_width: 23rem
$button_padding: 3.6rem

$blocks_gap: 12rem

$column_gap: 10rem