$color_white: #fdfdfd
$color_primary: #fa9f42
$color_secondary: #10b582
$color_dark: #353a5a

$font_family_main: 'Raleway', sans-serif
$font_size_main: 16px

$container_width: 1210px
$container_padding: 20px
    
$border_radius_xs: 10px
$border_radius_md: 20px

$button_min_height: 56px
$button_min_width: 230px
$button_padding: 36px

$blocks_gap: 120px

$column_gap: 100px