.footer
    &-row 
        column-gap: 0
        text-align: center
        @media (min-width: 992px)
            text-align: left
    &-general
        padding: 4rem 0 2rem 0
        border-top: 1px solid transparentize($color_dark, 0.9)
        @media (min-width: 992px)
            padding: 8rem 0 5rem 0

    &__main-page
        margin-top: 0
        @media (min-width: 992px)
            margin-top: $blocks_gap
    &-main 
        padding-right: 0
        @media (min-width: 992px)
            padding-right: $column_gap

    &-description
        margin-top: 3rem
        font-weight: 400
        font-size: $font_size_small
        line-height: 130%
    &-social 
        &__items
            display: flex
            justify-content: center
            column-gap: 2.5rem
            margin-top: 2rem
            @media (min-width: 992px)
                justify-content: start
                margin-top: 5rem
        &__link
            font-size: 2.2rem
            color: transparentize($color_dark, 0.7)

            &:hover
                opacity: 0.8

    &-header
        font-weight: 500
        font-size: $font_size_main
        line-height: 100%

    &-menu
        margin-top: 3.1rem
        &__item
            &:not(:first-child)
                margin-top: 2rem
        &__link
            font-weight: 400
            font-size: $font_size_main
            line-height: 100%
            color: $color_dark
            
            &:hover
                color: transparentize($color_dark, 0.2)

    &-text
        margin-top: 3.1rem
        font-weight: 400
        font-size: $font_size_main
        line-height: 130%
    
    &-copyright
        padding: 3rem 0
        border-top: 1px solid transparentize($color_dark, 0.9)

        &__inner
            display: flex
            flex-wrap: wrap-reverse
            align-items: center
            row-gap: 3rem

        &__text
            flex-grow: 1
         
        &__items
            display: flex
            flex-wrap: wrap
            justify-content: center
            column-gap: 3rem
            @media (min-width: 992px)
                justify-content: start
        &__link,
        &__text
            font-weight: 400
            font-size: $font_size_small
            line-height: 100%

        &__text,
        &__item
            padding: .4rem 0
            text-align: center
            @media (min-width: 992px)
                text-align: left