#menu_toggle
    display: none

    &:checked 
        ~ .main-menu__toggle > span
            transform: rotate(45deg)
        ~ .main-menu__toggle > span::before
            top: 0
            transform: rotate(0)
        ~ .main-menu__toggle > span::after
            top: 0
            transform: rotate(90deg)

        ~ .main-menu
            opacity: 1
            visibility: visible
            transform: translateX(0)

.main-menu__toggle
    display: flex
    align-items: center
    width: 2.6rem
    height: 2.6rem
    cursor: pointer
    position: absolute
    top: 6rem
    right: $container_padding
    margin-left: auto
    z-index: 3

    @media (min-width: 992px)
        display: none

    > span,
      span::before,
      span::after
        display: block
        position: absolute
        width: 100%
        height: .2rem
        background-color: $color_white
        @include transition(all 0.3s)

    > span::before
        content: ''
        top: -0.8rem

    > span::after
        content: ''
        top: -0.8rem
    
.header
    &-inner
        display: flex
    &-logo
        &__container
            padding: 4rem 0
            margin-right: auto
        &__image
            width: 12.8rem
            height: 1.6rem
    &__image
        @media (max-width: 992px)
            display: none
        img
            width: 100%
    &__main-page
        background: $color_secondary
        padding-bottom: 12rem
        color: $color_white
        @media (max-width: 992px)
            padding-bottom: 6rem
        & [class$='-link']
            color: $color_white
            &:hover
                color: transparentize($color_white, 0.2)
    &__social
        @media (max-width: 992px)
            display: none
    &__social-item
        &:not(:first-child)
            margin-top: 3rem
    &__content-left-image
        margin-top: 10.4rem
    &__social-link
        color: $color_white
        font-size: 2.2rem
        &:hover
            color: transparentize($color_white, 0.2)
    &__content
        display: flex
        @media (max-width: 992px)
            flex-direction: column
            align-items: center
            padding-top: 6rem
    &__content-center
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        flex-grow: 1
        text-align: center
        padding: 0 2rem
    &__title
        margin-top: 4rem
        max-width: 54.2rem
    &__content-text
        color: $color_white
        line-height: 150%
        margin: 2rem auto 0
        max-width: 37.8rem
    &__content-btn
        margin-top: 5rem
    &__content-right
        position: relative
        @media (max-width: 992px)
            margin-top: 6rem
    &__down
        &-container
            @media (min-width: 992px)
                position: absolute
                bottom: 0
                right: 0
                transform: rotate(-180deg)
                writing-mode: tb-rl
        &-link
            .icon-arrow-down
                margin-bottom: 1.5rem
                display: inline-block

                @media (min-width: 992px)
                    transform: rotate(180deg)

    
.main-menu
    display: flex
    list-style-type: none
    padding: 4rem 0

    @media (max-width: 991px)
        flex-direction: column
        align-items: center
        opacity: 0
        visibility: hidden
        transform: translateX(-100%)
        background: transparentize($color_dark, 0.1)
        position: fixed
        inset: 0
        z-index: 2
        @include transition(all 0.3s)

    &__main-page
        justify-content: center

        & .main-menu__link
            color: $color_white

    &__item
        display: flex
        margin: 0 2rem
        @media (max-width: 991px)
            margin: 2rem 0
    &__link
        line-height: 100%
        text-decoration: none
        position: relative
        font-weight: 500
        @media (max-width: 991px)
            padding-bottom: .8rem
            font-size: 1.8rem
        &::after
            content: ''
            position: absolute
            top: 0
            bottom: -0.8rem
            left: 50%
            right: 50%
            border-bottom: .2rem dashed $color_primary
            @include transition(all 0.3s)
        &:hover,
        &.active
            &::after
                left: 0
                right: 0